<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.board.mapper.InquiryMapper">
  <select id="inquiryList" resultType="kr.board.entity.Inquiry">
    select * from tbl_inquiry1
  </select>
   <select id="inquiryContent" resultType="kr.board.entity.Inquiry">
      select * from tbl_inquiry1 where idx=#{idx}
  </select>
 
  
</mapper>